acme==5.1.0
alembic==1.17.1
aniso8601==10.0.1
asgiref==3.10.0
attrs==25.4.0
binwalk==2.1.0
black==25.9.0
blessed==1.23.0
blinker==1.9.0
Brotli==1.1.0
cachetools==6.2.1
certbot==5.1.0
certifi==2025.10.5
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.3.0
cloudinary==1.44.1
ConfigArgParse==1.7.1
configobj==5.0.9
crispy-bootstrap5==2025.6
cryptography==46.0.3
distlib==0.4.0
distro==1.9.0
dj-database-url==3.0.1
Django==5.2.7
django-admin-interface==0.30.1
django-bootstrap5==25.2
django-cloudinary-storage==0.3.0
django-colorfield==0.14.0
django-cors-headers==4.9.0
django-crispy-forms==2.4
django-debug-toolbar==6.0.0
django-environ==0.12.0
django-extensions==4.1
django-tailwind==4.4.1
djangorestframework==3.16.1
docker==7.1.0
dominate==2.9.1
dotenv==0.9.9
drf-yasg==1.21.11
fake-useragent==2.2.0
filelock==3.20.0
flake8==7.3.0
Flask==3.1.2
Flask-Admin==2.0.0
Flask-Bootstrap==3.3.7.1
flask-cors==6.0.1
Flask-DebugToolbar==0.16.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
google-api-core==2.28.1
google-api-python-client==2.185.0
google-auth==2.42.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.71.0
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httplib2==0.31.0
hupper==1.12.1
hyperframe==6.1.0
identify==2.6.15
idna==3.11
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
josepy==2.2.0
kaitaistruct==0.11
legacy-cgi==2.6.4
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mccabe==0.7.0
mdurl==0.1.2
mechanize==0.4.10
MouseInfo==0.1.3
mypy_extensions==1.1.0
nodeenv==1.9.1
oauthlib==3.3.1
outcome==1.3.0.post0
packaging==25.0
parsedatetime==2.6
PasteDeploy==3.1.0
pathspec==0.12.1
pillow==12.0.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.5.0
playwright==1.55.0
playwright-stealth==2.0.0
pre_commit==4.3.0
proto-plus==1.26.1
protobuf==6.33.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycodestyle==2.14.0
pycparser==2.23
pyee==13.0.0
pyflakes==3.4.0
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==2.0.1
pyOpenSSL==25.3.0
pyparsing==3.2.5
pyperclip==1.11.0
pyramid==2.0.2
PyRect==0.2.0
pyRFC3339==2.1.0
PyScreeze==1.0.1
pyserial==3.5
PySocks==1.7.1
pytailwindcss==0.3.0
python-dotenv==1.2.1
python-slugify==8.0.4
python3-xlib==0.15
pytokens==0.2.0
pytweening==1.2.0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.2.0
rsa==4.9.1
selenium==4.38.0
selenium-wire==5.1.0
sentry-sdk==2.43.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.44
sqlparse==0.5.3
stem==1.8.2
supervisor==4.3.0
text-unidecode==1.3
tqdm==4.67.1
translationstring==1.4
trio==0.31.0
trio-websocket==0.12.2
typer==0.20.0
typing_extensions==4.15.0
undetected-chromedriver==3.5.5
uritemplate==4.2.0
urllib3==2.5.0
venusian==3.1.1
virtualenv==20.35.4
visitor==0.1.3
wcwidth==0.2.14
webencodings==0.5.1
WebOb==1.8.9
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
whitenoise==6.11.0
wsproto==1.2.0
WTForms==3.2.1
zope.deprecation==6.0
zope.interface==8.1
zstandard==0.25.0
